body {
	height: 100vh;
}
.container {
	background-size: cover;
	min-height: 100%;
	width: 100%;
}
#buttonContainer {
	border-bottom: 1px solid #cacaca;
	padding: 10px;
}
.buttonChoice {
	min-width: 150px;
}
.jumbotron {
	min-height: 550px;
	padding-bottom: 0px;
    margin-bottom: 0px;
}
img {
	/*height: 200px;*/
	width: 85%;
	margin: 10px;
}
#addButtons {
	margin-top: 30px;
}
.dynamic {
	float: left;
    width: 30%;
}
.jumbotron {
	height: 100vh;
}